################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WpfTest/bin/Debug
/WpfTest/.vs/WpfTest/v16/.suo
/WpfTest/obj/Debug
